<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autocomplete Searchbar</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/cb7375087b.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="search-box">
        <div class="row">
            <input type="text" id="input-box" placeholder="Search anything" autocomplete="off">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="result-box">
            <ul>
                <li>JavaScript</li>
                <li>Web Development</li>
            </ul>
        </div>
    </div>

</body>
</html>