@media screen and (max-width : 864px) {
    .heading {
        font-size: 7vw;
        margin-top: 5vh;
        margin-bottom: -5vh;
    }
}

.heading{
    font-weight: 500;
    transition: all 0.125 ease-out 0s;
    background: transparent;
    /* color: rgb(200, 228, 232); */
    color: whitesmoke;
}