.navbar {
  background-color: rgba(255, 255, 255, 0.181);
  backdrop-filter: blur(3px);
  box-shadow: 0 0px 5px rgba(255, 255, 255, 0.15);
  height: 50px;
  border: none;
  
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
}
