:root {
  /* --app_bgcolor : rgb(51, 42, 113); */
  --app_bgcolor : #091330;
}

*{
  background-color: var(--app_bgcolor);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: rgba(101, 173, 255, 0.268);
  backdrop-filter: blur(100px);
  transition: all 0.125s ease-out 0s;
}

.App{
  margin: none;
  padding: none;

  background-color: var(--app_bgcolor);
  /* background-blend-mode: saturation; */
  background-image: url(./assets/back.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: whitesmoke;
  height: 120vh;
  width: 100%;
}

.heading{
  text-align: center;
  font-size: 6.5vh;
  font-family: 'Poppins';
  color: whitesmoke;
  padding-top: 8%;
}

.temperature{
  margin: 0 auto;
  padding-top: 7vh;
  padding-bottom: 7vh ;
}

hr{
  margin: 0 auto;
  background: whitesmoke ;
  box-shadow: none;
  align-items: center;
  width: 75%;
  height:5px;
  border: none;
}
